swagger: "2.0"
info:
  description: "Chiamate API relative all'accesso e alla creazione del token."
  version: "1.0.0"
  title: "R.A.O. API"
  contact:
    email: "apiteam@swagger.io"
host: "rao.spid.app"
basePath: "/v2"
tags:
- name: "Authentication"
  description: "Api relative all'accesso di un operatore"
  externalDocs:
    description: "git R.A.O. pubblico"
    url: "https://github.com/Sielte/rao-pubblico"
- name: "Sigillo"
  description: "Generazione di una richiesta di identificazione"
  externalDocs:
    description: "git R.A.O. pubblico"
    url: "https://github.com/Sielte/rao-pubblico"
schemes:
- "https"
- "http"
paths:
  /auth:
    post:
      tags:
      - "Authentication"
      summary: "Ottieni un token di sessione inserendo username e password"
      description: ""
      operationId: "auth"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "User e password dell'operatore"
        required: true
        schema:
          $ref: "#/definitions/Auth"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiAuthResponse200"
  /token:
    post:
      tags:
      - "Sigillo"
      summary: "Creazione della richiesta di identificazione"
      description: ""
      operationId: "token"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "header"
        description: "Header contenente il token di autorizzazione"
        required: true
        schema:
          $ref: "#/definitions/Header"
      - in: "body"
        name: "payload"
        description: "User e password dell'operatore"
        required: true
        schema:
          $ref: "#/definitions/UserDetail"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiAuthResponse200"
        "400":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiAuthResponse400"
        "403":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiAuthResponse403"
        "404":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiAuthResponse404"
definitions:
  Header:
    type: "object"
    required:
    - "Authorization"
    properties:
        Authorization:
          type: "string"
          example: "eyJ1c2VybmFtZSI6IkNpYW8ifQ:1lWcPE:a-vukHyF6j_sAxiHWSJ78wjeEqw"
  Auth:
    type: "object"
    required:
    - "username"
    - "password"
    properties:
      username:
        type: "string"
        example: "RSSMRA80A01C351O"
      password:
        type: "string"
        example: "LaMiaPass123!"
  UserDetail:
    type: "object"
    required:
    - "fiscalNumber"
    - "name"
    properties:
      name:
        type: "string"
        example: "Giovanni Mario"
      familyName:
        type: "string"
        example: "Rossi"
      placeOfBirth:
        type: "string"
        example: "C351"
      countyOfBirth:
        type: "string"
        example: "CT"
      nationOfBirth:
        type: "string"
        example: "Z000"
      dateOfBirth:
        type: "string"
        example: "2000-09-24"
      gender:
        type: "string"
        example: "M"
      fiscalNumber:
        type: "string"
        example: "RSSGNN00P24F205L"
      email:
        type: "string"
        example: "mariorossi@mail.com"
      pec:
        type: "string"
        example: "me@meypecprovider.com"
      identificationSerialCode:
        type: "string"
        example: "123456789"
      identificationExpirationDate:
        type: "string"
        example: "2025-09-24"
      idCardType:
        type: "string"
        example: "CartaIdentita"
      idCardDocNumber:
        type: "string"
        example: "AS09452389"
      idCardIssuer:
        type: "string"
        example: "Catania"
      idCardIssueDate:
        type: "string"
        example: "2013-01-02"
      idCardExpirationDate:
        type: "string"
        example: "2023-09-24"
      countryCallingCode:
        type: "string"
        example: "+39"
      phoneNumber:
        type: "string"
        example: "3471234567"
      addressType:
        type: "string"
        example: "Via"
      addressName:
        type: "string"
        example: "Augusto"
      addressNumber:
        type: "string"
        example: "1/A"
      postalCode:
        type: "string"
        example: "00129"
      municipality:
        type: "string"
        example: "H501"
      county:
        type: "string"
        example: "RM"
      nation:
        type: "string"
        example: "Z000"
      pin:
        type: "integer"
        example: "142536"
      
  ApiAuthResponse200:
    type: "object"
    required:
    - "statusCode"
    - "authToken"
    properties:
      statusCode:
        type: "integer"
        example: "200"
      message:
        type: "string"
        example: "eyJ1c2VybmFtZSI6IkNpYW8ifQ:1lWcPE:a-vukHyF6j_sAxiHWSJ78wjeEqw"
      
  ApiAuthResponse400:
    type: "object"
    required:
    - "statusCode"
    - "authToken"
    properties:
      statusCode:
        type: "integer"
        example: "400"
      message:
        type: "string"
        example: "Richiesta non valida"
  ApiAuthResponse403:
    type: "object"
    required:
    - "statusCode"
    - "authToken"
    properties:
      statusCode:
        type: "integer"
        example: "403"
      message:
        type: "string"
        example: "Accesso negato"
  ApiAuthResponse404:
    type: "object"
    required:
    - "statusCode"
    - "authToken"
    properties:
      statusCode:
        type: "integer"
        example: "404"
      message:
        type: "string"
        example: "Non trovato"
  
